//General for all banners
html, body
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased

img
  height: auto
  display: block

//Style for the banner
#banner
  width: 336px
  height: 280px
  border: 1px solid lightgrey
  position: absolute
  margin: auto
  left: 0
  right: 0
  top: 0
  bottom: 0
  font-family: 'Helvetica Bold', sans-serif
  overflow: hidden
  background-color: $white
  z-index: 1
  &:hover
    border-color: darken(lightgrey, 10)
    +transition(all .5s ease-in-out)
  &.hover-efect
    &:hover
      .title
        button:after
          padding: 0
          margin: 0
          opacity: 1
          transition: 0s
  .slogan
    width: 180%
    height: 70px
    box-sizing: border-box
    position: absolute
    top: -70px
    right: 0
    z-index: 3
    background-color: $white
    padding: 10px 20px
    .slogan1, .slogan2
      display: inline-block
      border: 1px solid red
      position: absolute
      left: 0
      p
        margin: 0
        color: $blue
        font-size: 20px
        position: relative
        line-height: 25px
        span
          color: $ligthblue
  img.background-image
    width: 150%
    position: absolute
    top: -30%
    left: -10%
    opacity: 0
    z-index: 2
  .title
    background-color: $white
    width: 336px
    height: 280px
    box-sizing: border-box
    padding: 10px
    position: absolute
    z-index: 3
    img.logo
      width: 92px
      display: inline-block
      position: relative
      +scale(0)
    button
      float: right
      color: $white
      background-color: $ligthblue
      border: none
      font-family: inherit
      +border-radius(8px)
      padding: 6px 22px
      font-size: 18px
      position: relative
      top: -3px
      +scale(0)
      overflow: hidden
      &:focus
        outline: none
      &:after
        content: ""
        background: white
        display: block
        position: absolute
        padding-top: 300%
        padding-left: 350%
        margin-left: -30px !important
        margin-top: -120%
        opacity: 0
        +transition(all .5s ease-in-out)
