@font-face {
  font-family: Helvetica Bold;
  src: url(fonts/helvetica-bold.ttf);
  font-weight: bold; }
html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased; }

img {
  height: auto;
  display: block; }

#banner {
  width: 336px;
  height: 280px;
  border: 1px solid lightgrey;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: "Helvetica Bold", sans-serif;
  overflow: hidden;
  background-color: #fff;
  z-index: 1; }
  #banner:hover {
    border-color: #bababa;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  #banner.hover-efect:hover .title button:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s; }
  #banner .slogan {
    width: 180%;
    height: 70px;
    box-sizing: border-box;
    position: absolute;
    top: -70px;
    right: 0;
    z-index: 3;
    background-color: #fff;
    padding: 10px 20px; }
    #banner .slogan .slogan1, #banner .slogan .slogan2 {
      display: inline-block;
      border: 1px solid red;
      position: absolute;
      left: 0; }
      #banner .slogan .slogan1 p, #banner .slogan .slogan2 p {
        margin: 0;
        color: #1C3664;
        font-size: 20px;
        position: relative;
        line-height: 25px; }
        #banner .slogan .slogan1 p span, #banner .slogan .slogan2 p span {
          color: #33C6F4; }
  #banner img.background-image {
    width: 150%;
    position: absolute;
    top: -30%;
    left: -10%;
    opacity: 0;
    z-index: 2; }
  #banner .title {
    background-color: #fff;
    width: 336px;
    height: 280px;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    z-index: 3; }
    #banner .title img.logo {
      width: 92px;
      display: inline-block;
      position: relative;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
    #banner .title button {
      float: right;
      color: #fff;
      background-color: #33C6F4;
      border: none;
      font-family: inherit;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      border-radius: 8px;
      padding: 6px 22px;
      font-size: 18px;
      position: relative;
      top: -3px;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      overflow: hidden; }
      #banner .title button:focus {
        outline: none; }
      #banner .title button:after {
        content: "";
        background: white;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -30px !important;
        margin-top: -120%;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }

/*# sourceMappingURL=style.css.map */
